<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Button</title>
</head>
{%  block content %}
<body>
<div id="my-login-button-target" />
    <script>
       window.snapKitInit = function () {
        var loginButtonIconId = 'my-login-button-target';
        // Mount Login Button
        snap.loginkit.mountButton(loginButtonIconId, {
          clientId: '3d857a79-60f6-4ead-8ac5-fbd27857c960',
          redirectURI: 'https://sfhacksdhw.appspot.com',
          scopeList: [
            'user.display_name',
            'user.bitmoji.avatar',
          ],
          handleResponseCallback: function() {
            snap.loginkit.fetchUserInfo()
              .then(data => console.log('User info:', data));
          },
        });
      };

      // Load the SDK asynchronously
      (function (d, s, id) {
        var js, sjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://sdk.snapkit.com/js/v1/login.js";
        sjs.parentNode.insertBefore(js, sjs);
      }(document, 'script', 'loginkit-sdk'));
    </script>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   '865fj4d6sco8qp'
    authorize: true
    IN.User.authorize(callbackFunction, callbackScope);
    IN.User.isAuthorized()
    IN.API.Raw(url).method(methodType).body(bodyContent).result(resultCallback);
</script>

</body>
{%  endblock content %}
</html>